<!DOCTYPE html>
<html>
  <head>

<link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Play">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

</head>
    <body style="font-family: 'Play', serif;font-size: 35px;">


    <h1 style="text-align: center; margin-bottom: 50px;">Lists <i class="fa fa-tasks"></i></h1>
    <div class="container">



<p><i>Create a new list:</i></p>

<form action="/lists" method="post">
  <label for="name">List Name</label>
  <input id="name" name="name" type="text">

  <button type="submit" class="btn-success">Add list</button>
</form>

</div>

<div class="container">
<% if @lists.any?() %>
  <h3>Here are your lists:</h3>

  <ul>
    <% @lists.each() do |list| %>
      <li><a href="/lists/<%= list.id()%>"><%= list.name() %></a> </li>
    <% end %>
  </ul>

<% end %>
</div>

</div>
</body>
</html>
