<p><i>Create a new list:</i></p>

<form action="/lists" method="post">
  <label for="name">List Name</label>
  <input id="name" name="name" type="text">

  <button type="submit" class="btn-success">Add list</button>
</form>

</div>

<div class="container">
<% if List.all.any?() %>
  <h3>Here are your lists:</h3>


  <ul>
    <% List.all.each() do |list| %>
      <li><a href="/lists/<%= list.id()%>"><%= list.name() %></a> </li>
    <% end %>
  </ul>

<% end %>
