<h1>Your Current Lists</h1>

<% if @lists.any?() %>
  <h3>Here are your lists:</h3>

  <ul>
    <% @lists.each() do |list| %>
      <li><a href="/lists/<%= list.id()%>"><%= list.name() %></a> </li>
    <% end %>
  </ul>
  <a href="/"><button class="btn btn-success">Return Home</a>
<% else %>

    <p>There are no lists yet!</p>
    <a href="/"><button class="btn btn-success">Return Home</a>
<% end %>
